<s> : 0
<pad> : 1
<unk> : 2
B-album : 3
B-artist : 4
B-best_rating : 5
B-city : 6
B-condition_description : 7
B-condition_temperature : 8
B-country : 9
B-cuisine : 10
B-current_location : 11
B-entity_name : 12
B-facility : 13
B-genre : 14
B-geographic_poi : 15
B-location_name : 16
B-movie_name : 17
B-movie_type : 18
B-music_item : 19
B-object_location_type : 20
B-object_name : 21
B-object_part_of_series_type : 22
B-object_select : 23
B-object_type : 24
B-party_size_description : 25
B-party_size_number : 26
B-playlist : 27
B-playlist_owner : 28
B-poi : 29
B-rating_unit : 30
B-rating_value : 31
B-restaurant_name : 32
B-restaurant_type : 33
B-served_dish : 34
B-service : 35
B-sort : 36
B-spatial_relation : 37
B-state : 38
B-timeRange : 39
B-track : 40
B-year : 41
I-album : 42
I-artist : 43
I-city : 44
I-country : 45
I-cuisine : 46
I-current_location : 47
I-entity_name : 48
I-facility : 49
I-genre : 50
I-geographic_poi : 51
I-location_name : 52
I-movie_name : 53
I-movie_type : 54
I-music_item : 55
I-object_location_type : 56
I-object_name : 57
I-object_part_of_series_type : 58
I-object_select : 59
I-object_type : 60
I-party_size_description : 61
I-playlist : 62
I-playlist_owner : 63
I-poi : 64
I-restaurant_name : 65
I-restaurant_type : 66
I-served_dish : 67
I-service : 68
I-sort : 69
I-spatial_relation : 70
I-state : 71
I-timeRange : 72
I-track : 73
O : 74
